*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}
#gameBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: white;
}

#playerCharacter {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 32px;
    height: 32px;
    background-image: url("./Assets/playerDown.png");
}

#textContainer {
    text-align: center;
}

#playerLives {
    font-size: 16pt;
}

h1 {
    background: white;
}
.traps
{
    position: absolute;
    z-index: 1;
}
#deadTree
{
    width: 64px;
    height: 32px;
}
.modalBox{
    position:absolute;
    
    width: 450px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: -3;

    background: lightblue;

    text-align: center;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.modalScore{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.modalText{
    font-size: 24pt;
}
.modalInputText{
    background: white;

    width: 350px;
    height: 25px;
    margin-left: 50px;
    margin-right: 50px;

    border-top-left-radius:10px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;

    text-align: center;
}
.modalPlay{
    width: 100px;
    height: 100px;
    background-color: lightskyblue;

}
.modalHeader{
    margin-top: 20px;
    margin-bottom: 100px;
}
.modalFooter{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}