*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}
#gameBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#playerCharacter {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 32px;
    height: 32px;
    background-image: url("./Assets/playerDown.png");
}

#textContainer {
    text-align: center;
}

#playerLives {
    font-size: 16pt;
}

h1 {
    background: white;
}
.traps
{
    position: absolute;
    z-index: 0;
}
#deadTree
{
    width: 64px;
    height: 32px;
}
#arrowsBox{
    width:100vw ;
    height:50px ;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    border: none;
}
#rightArrow{
    background: url("assets/rightArrow.png");
    width: 100px;
    height: 50px;
}
#downArrow{
    background: url("assets/downArrow.png");
    width: 100px;
    height: 50px;
}
#leftArrow{
    background: url("assets/leftArrow.png");
    width: 100px;
    height: 50px;
}